body {
    width: 90%;
    margin: 20px auto;
    background: #f6f6f6;
    font-family: Arial, sans-serif;
}

.topbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}

.username {
    color: #555;
    font-size: large;
    
}


.blue {
    color: #406d9a;
}


.user-info div {
    margin: 2px 0;
}

a {
    text-decoration: none;
    color: #406d9a;
}

.topbar button {
    padding: 4px 12px;
    background: #e1e1e1;
    border: 1px solid #a3a3a3;
    cursor: pointer;
    font-weight: bold;
    color:#555;


}



.btn-group {
  border: 1px solid #626263;
  border-radius: 4px; 
  margin-bottom: 50px;
  display: inline-flex;
  
}


.topbar button.lottery {
    color: #4CAF50;
}




.container {
    width: 90%;
    margin: 20px auto;
}

.nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.navbar {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background: #e7e7e7;
    border-radius: 5px;
    overflow: hidden;    
    width: 100%;
    max-width: 1200px;
}

.navbar li {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    cursor: pointer;
    border-right: 1px solid #d0d0d0;
    white-space: nowrap;
    font-weight: bold;
    color: #555;
}

.navbar li a.nav-link {
    display: block;
    color: inherit;
    text-decoration: none;
    width: 100%;
    height: 100%;
}


.navbar li:last-child {
    border-right: none;
}

/* Colors */
.blues { background: #bfe3ff; }
.green { background: #d9f5c8; }
.cyan { background: #c8f8ff; }

.active-red {
    background: #ff7d6b !important;
    color: #fff;
}



.alert-box {
    background: #f8d7da;
    color: #7a0000;
    padding: 15px;
    border-radius: 4px;
    margin-top: 20px;
    border: 1px solid #e2bcbc;
}

.deposit-box {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border: 1px solid #ccc;
    
}


.info-text {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    color: #406d9a;
    font-weight: bold;
    line-height: 1.3;
    font-size: 15px;
}

.info-text ul {
    list-style: none;
}

.info-text span {
    color: red;
    font-weight: bold;
}

.important {
    color: red;
    font-size: 30px;
    font-weight: bold;
}

.warning-text {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 15px;
    color: #406d9a;
    border-bottom: 1px solid #cdcdcd;
    padding-bottom: 5px;
}

.crypto-row {
    margin-top: 10px;
    display:flex;
    justify-content: center;
    gap: 20px;
}

.crypto-box {
    text-align: center;
}

.crypto-box span {
    font-weight: bold;
}

.crypto-box img {
    height: 30px;
    margin-bottom: 2px;
}

.deposit-btn {
    display: inline-block;
    padding: 4px 8px;
    border: 1px solid #cccccc;
    border-radius: 3px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
    margin-bottom: 25px;
}

.unconfirmed {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    margin-top: 25px;
    margin-bottom: 10px;
}

.unconfirmed h4 {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}

.unconfirmed span {
    font-size: 12px;
    color: #555;
}

/* Separator line */
.footer-separator {
    border: none;
    border-top: 1px solid #ccc;
    margin: 20px 0;
    width: 100%;
}

/* Table */
.data-table {
    width: 100%;
    margin-bottom: 20px;
}

.data-table th,
.data-table td {
    text-align: center;
    font-size: 14px;
}

/* footer */

.footer {
    width: 100%;
    font-size: 14px;
    color: #555;
}

.footer-content {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
}

.footer-content a {
    color: #406d9a;
    text-decoration: none;
}

.footer-content a:hover {
    text-decoration: underline;
}




/* Overlay background */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

/* Modal box */
.modal-box {
    background: white;
    width: 60%;
    max-width: 700px;
    padding: 20px 30px;
    border-radius: 6px;
    position: relative;
}

/* Close (X) button */
.close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.primary-btn {
    background: #1b76d1;
    padding: 10px 18px;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.close-btn2 {
    background: #eee;
    border: none;
    padding: 10px 18px;
    cursor: pointer;
    border-radius: 4px;
}

/* wallet */

/* .payment-box {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin: 20px auto;
    
    

}
.payment-box img {
    margin-top: 10px;
} */

.pay-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 500px; 
    margin: 20px auto;
    gap: 10px;
}

.pay-text {
    font-size: 16px;
    width: 60%;
    /* word-break: break-all;  */
}

.pay-qr img {
    width: 140px;
    height: 140px;
   
}



/* ==================
news.css
=====================*/

/* Bright green banner */
.neon-green-msg {
    margin: 25px auto;
    width: 95%;
    padding: 20px;
    text-align: center;
    background: #31fb31;
    font-weight: bold;
    font-size: 15px;
    
}

/* Panel block exactly like screenshot */
.panel {
    width: 95%;
    background: #fffde6;
    border: 1px solid #e6e6e6;
    margin: 0 auto 40px auto;
    padding: 20px;
}

.panel-title {
    font-size: 18px;
    margin-bottom: 20px;
}

.domain-list div {
    margin-bottom: 6px;
    font-size: 15px;
}

.panel-ft {
    margin-top: 20px;
}

.ft-text {
    font-size: 14px;
    color: #666;
}



.dfoot {
    margin-top: 20px;
}

.dfoot-row {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.dfoot-row p,
.dfoot-row .date {
    margin: 0;
    padding: 0;
}
